.accordion {
  background-color: #fff;
  color: #000;
  min-height: 500px;
  width: 80vw;
  padding: 2rem;
  border-radius: 3px;
}

.title {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 600;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.accordion-left {
  max-width: 360px;
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }
  .accordion {
    width: 95vw;
  }
}
